<article class="post">
  <div class="post-content">
    <header class="post-header">
      <h1 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      <em class="post-meta">
        <time>{{ post.date | date: "%Y" }}</time>
      </em>
    </header>
    <p><a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}">{{ post.content | strip_html | truncatewords: 20 }} <span class="read-more">[read more]</span></a></p>
    <p style="font-size: small; padding-top: 1px; color: rgb(100, 100, 100); margin:0;">{{ post.authors }}</p>
    <p style="font-size: small; padding-top: 1px; color: rgb(100, 100, 100); margin:0;"><strong>{{ post.conference-name }}</strong>&nbsp;<strong>{{ post.year }}</strong>&nbsp;&#8209;&nbsp;{{ post.venue }}</p>
  </div>
</article>
